<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Add Secret</title>
	
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container container-width-usersecrets">
	<h2 class="page-header">Add Secret</h2>

	<form th:object="${newTopic}" th:action="@{/addSecret/__${forUser.id}__}" method="post">
		<select th:field="${newTopic.id}">
  			<option value=0>Select a Secret Topic</option> 		
			<option th:each="topic, topStats : ${topicList}" 
					th:value="${topic.id}"
					th:text="${topic.topicname}"/>
		</select>
		<button class="btn btn-primary btn-sm" type="submit" name="viewTemplate" th:value="viewTemplate">Show Template</button>
	
		<!--  	<div th:text="${#lists.size(topicList)}"/>  -->
			<div th:each="topic, topStats : ${topicList}" >
				<div class="row" th:if="__${topic.id}__ == __${newTopic.id}__">
				<div class="col-md-3 top-gap0" th:each="topictemplate, ttStats : ${topic.topicTemplates}" >
				<!--  	<div th:if="__${topictemplate.topic.id}__ == __${newTopic.id}__">  -->
						<label th:text="${topictemplate.propname}"></label>
						<input class="form-control" th:field="${newTopic.topicTemplates[__${topStats.index}__].topicDetails[__${ttStats.index}__].propvalue}" />
  						<select style="display:none" th:field="${newTopic.topicTemplates[__${topStats.index}__].topicDetails[__${ttStats.index}__].topicTemplate.id}">
							<option th:value="${topictemplate.id}" th:text="${topictemplate.id}"/>
						</select>
					<!--   </div> -->
				</div>
				</div>
			</div>
		<button class="btn btn-primary btn-md btn-block" type="submit">Add Secret</button>
	</form>
	</div>

  <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

	
</body>
</html>