<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Add Secret</title>
	
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container container-width-usersecrets">
	<h2 class="page-header">Add Secret</h2>

	<form th:object="${newTopic}" th:action="@{/addSecret/__${forUser.id}__}" method="post">
		
		<!-- Showing list of Secret Topics in the Vault -->
		<select th:field="${newTopic.id}">
  			<option value=0>Select a Secret Topic</option> 		
			<option th:each="topic, topStats : ${topicList}" 
					th:value="${topic.id}"
					th:text="${topic.topicname}"/>
		</select>
		<button class="btn btn-primary btn-sm" type="submit" name="viewTemplate" th:value="viewTemplate">Show Template</button>
	
			<!-- Iterating over secret topics -->
			<div th:each="topic, topStats : ${topicList}" >
			
				<!-- Do further processing only for the user selected secret topic. -->
				<div class="row" th:if="__${topic.id}__ == __${newTopic.id}__">

				<!-- Iterating over the secret topic keys for the user selected secret topic -->
				<div class="col-md-3 top-gap0" th:each="topictemplate, ttStats : ${topic.topicTemplates}" >

					<label th:text="${topictemplate.propname}"></label>

					<!--  binding secret key value to model -->
					<input class="form-control" th:field="${newTopic.topicTemplates[__${topStats.index}__].topicDetails[__${ttStats.index}__].propvalue}" />

 					<!-- this is to bind the secret topic key id (whose value is being added) to the model. you need this because while the secret topic
 						 value you need to pass its key id as well.
 						 I did not find any other way to make it happen hence used select and its option tag -->
 					<select style="display:none" th:field="${newTopic.topicTemplates[__${topStats.index}__].topicDetails[__${ttStats.index}__].topicTemplate.id}">
						<option th:value="${topictemplate.id}" th:text="${topictemplate.id}"/>
					</select>

				</div>
				</div>

			</div>
		<button class="btn btn-primary btn-md btn-block" type="submit">Add Secret</button>
	</form>
	</div>

  <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

	
</body>
</html>