<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Add Secret Topic</title>

	<link rel="stylesheet" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>

	<div class="container container-width-usersecrets">
	<h2 class="page-header">Add Secret Topic</h2>
	
	<form th:object="${topic}" th:action="@{/addTopic}" method="post">
	
		<div th:if="${successMessage}">
			<div class="alert alert-success" th:text="${successMessage}"></div>
		</div>
	
		<div th:if="${#fields.hasGlobalErrors()}">
			<p class="alert alert-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}"/>
		</div>

		<h4>Topic</h4>
		<div class="row">
			<div class="col-md-3">
				<input th:if="${successMessage == null}" class="form-control" type="text" th:field="*{topicname}"/>
				<input th:if="${successMessage}" class="form-control" type="text" th:field="*{topicname}" readonly="readonly"/>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('topicname')}" th:errors="*{topicname}"></div>
			</div>
		</div>		

		<h4 class="top-gap2">Topic Key(s)</h4>
		<div class="row">
			<div class="col-md-3 top-gap0" th:each="row, rowStats : ${topic.topicTemplates}">
				<input th:if="${successMessage == null}" class="form-control" type="text" th:field="${topic.topicTemplates[__${rowStats.index}__].propname}"/>
				<input th:if="${successMessage}" class="form-control" type="text" th:field="${topic.topicTemplates[__${rowStats.index}__].propname}" readonly="readonly"/>
			</div>
		</div>		
		
		<div class="row">
			<button th:if="${successMessage == null}" class="btn btn-primary btn-md btn-block" type="submit">Add new Topic</button>
			<button th:if="${successMessage}" class="btn btn-primary btn-md btn-block" type="submit" disabled>Add new Topic</button>
			<button th:if="${successMessage == null}" class="btn btn-primary btn-md btn-block" type="submit" name="addRow" th:value="addRow">Add Topic Params</button>
			<button th:if="${successMessage}" class="btn btn-primary btn-md btn-block" type="submit" name="addRow" th:value="addRow" disabled>Add Topic Params</button>
		</div>
	</form>
	</div>

  <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


</body>
</html>